<!DOCTYPE html>
<html ng-app="gemStore">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <title></title>
  </head>
  <body ng-controller="StoreController as store">
    <!-- ng-hide="store.product.soldOut" -->
    <ul class="list-group">
      <li class="list-group-item"  ng-repeat="product in store.products">
        <h3>
        {{product.name}}
        <em class="pull-right">{{product.price | currency}}</em>
        </h3>

        <div class="gallery" ng-show="product.images.length">
        <div class="img-wrap">
          <img ng-src="{{product.images[0]}}" />
        </div>
        <ul class="img-thumbnail clearfix">
          <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
            <img ng-src="{{image}}" />
          </li>
        </ul>
      </div>

        <p>Product Description: {{product.description}}</p>
        <button ng-show="product.canPurchase">Add To Cart</button>
      </li>
    </ul>

  </body>
</html>
